
  <div class="container" >
    <h1>Sign up</h1>
  <table  class="table ">
    <tr >
    <mat-form-field class="example-full-width">
      <input matInput placeholder="EMAIL ID" type="email"  >
    </mat-form-field>
  </tr>
  <tr>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="password" type="password">
    </mat-form-field>
  </tr>
  <tr>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="user name" type="text"  >
      </mat-form-field>
    </tr>
    <tr>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Mobile no" type="text">
      </mat-form-field>
    </tr>
    <tr>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="City" type="text"  >
        </mat-form-field>
      </tr>
      <tr>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="address" type="text">
        </mat-form-field>
      </tr>
</table>
<!-- <button mat-raised-button color="primary" (click)="login()">LOG IN</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
<!-- <button mat-raised-button (click)="signup()">SIGN UP</button>&nbsp;&nbsp;&nbsp;
<a mat-raised-button routerLink="." (click)="onForget()">Forget Password??</a> -->

</div>
