
  <h2  >Reply To Feedback</h2>
  <div class="container">
  <table  class="table" align="center">
    <tr>
    <!-- <img style="margin-left:70px " src="assets\images\logo.jpg" height="90px" width="90px"  > -->
    </tr>
      <tr >
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter Replay of Feedback"   type="text" [(ngModel)]="feedback" required feedback >
          </mat-form-field>
        </tr>



  <button mat-raised-button color="primary" (click)="sendfeedback()">Ok</button>&nbsp;
  <button mat-raised-button color="primary" (click)="cancle()">CANCEL</button>&nbsp;&nbsp;

  </table></div>
